.sidebar-main-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.sidebar-main-container-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.main-container {
  display: flex;

  height: 100%;
}

.main-cls {
  height: 100%;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

.top_section {
  display: flex;
  align-items: center;

  justify-content: space-between;

  width: 100% !important;
}

.logo {
  line-height: 0;

  padding: 0 !important;
  margin: 0 !important;
}

.hospital-logo {
  font-size: 20px;
  font-weight: bold;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: center;
}

.hospital-logo :first-child {
  display: flex;
  margin-right: 3px;
}

.profile-container {
  width: 100%;
  margin-top: 40%;
}

.profile-wrap {
  display: flex;

  padding: 5px;
  background: rgb(45, 51, 89);
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 5px;
  padding-top: 3px;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 100%;
  justify-content: center;
}

.profile-details :first-child {
  font-size: 13px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.profile-details :nth-child(2) {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

/* Sidebar */
.sidebar {
  background: rgb(0, 7, 61);
  color: white;

  overflow-y: auto;
}

.bars {
  width: 30px;
  font-size: large;
  cursor: pointer;
}

.hide {
  display: none;
}

.routes {
  margin-top: 20px;

  margin-left: 10px;
  margin-right: 10px;
  display: flex;

  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  gap: 10px;
  padding: 8px 10px;

  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
  border-radius: 5px;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* .active {
  background: rgb(45, 51, 89);
} */
.link_text {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.icon {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: white;
  padding: 7px 10px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.menu:hover {
  background-color: rgb(45, 51, 89);
}

.menu_item {
  display: flex;
  gap: 10px;

  display: flex;
  flex-direction: row;

  width: 100% !important;
}

.menu_container {
  display: flex;
  font-size: 13px;
  flex-direction: column;
}

.menu_container .link {
  padding-left: 10px;
  /* margin: 3px; */
  /* border-left: 2px solid #a99a9a; */
  margin-left: 20px;
  margin-top: -2px;
}

.tree-line {
  height: 1.5px;
  width: 18px;
  /* background: #a99a9a; */
  margin-left: 44px;
  position: absolute;
  top: 46%;
}

@media screen and (max-width: 768px) {
  .sidebar-main-container {
    display: none !important;
  }
}
